:root {
    --main-color: #03204c;
    --secondary-color: rgb(176 204 224);
}
/* top close bar section */
.header-top {

    background-color: var(--secondary-color);
    z-index: 900;
 }

.header-top span {

    color: rgba(0, 0, 0, 0.555);
    padding: 0;
    font-weight: 600 !important;
    font-size: 25px;
    cursor: pointer;

}
.header-top span:hover{
    color: black;
}
.header-top button{
    background-color: var(--main-color);
    color: white;
    font-size: 14px;
    text-align: left !important;

}
.header-top .smol {
    text-align: left;
}
.header-top p {
    color: var(--main-color);
}

/* navbar css starts here */
.top-f-nav {
    
    background-color: white !important;
    font-weight: 600;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px rgba(0, 0, 0, 0.486) solid;
}
.scrollspy .isCurrent .nav-link {
    color: var(--secondary-color ) !important; 
  }

 .scrollspy {
    
    display: flex;

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

}
html {
    scroll-behavior: smooth;
  }
.scrollspy button{
    background-color: var(--main-color) ;
    color: white;
    font-size: 13px;

}
/* navbar phone number */
.number a {
    color:var(--main-color) !important;
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
}
.scrollspy .nav-link{
   color:var(--main-color) !important;
   font-size: 13px;
   text-transform: uppercase;



}
.scrollspy .nav-item {
    padding-right: 5px;

  
}
.scrollspy .nav-link:hover{
    background-color: var(--secondary-color ) !important;

}


/* banner slider css starts */
.slidercaption{
    text-align: right;
    margin-bottom: 5rem;
    margin-top: 30px;
}
.certified-job {
    margin-top: 13.7rem;
    padding: 8px 0px;
    background-color: var(--main-color);

}
.certified-job img{
    height: 200px;
    width: 200px;
}
.certified-job .user-img {
    margin-top: -30% !important;
    border: 10px solid var(--main-color);
}
.carousel-caption {
    position: absolute;
    top: 0;
    bottom: 1.25rem;
     padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.slider-banner .carousel-indicators [data-bs-target] {
    background-color: rgba(0, 0, 0, 0.404) !important;
}
.slider-banner .carousel-inner  {
    height: 600px;
    position: relative;
}
.slider-banner{
    margin-bottom: 5rem;
}

/* About us section css */
.about-us {
    background-image: url('../assets/bg-plane.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-position: right;

    background-size: 160px 600px;
    margin: 5rem 0px;

}
.about-us svg {
    color: var(--main-color);
}
.about-us h3  {
    font-weight: 600;
    color: var(--main-color);
    margin: 20px 0px ;
}
.about-us  p {
    font-size: 15px ;
    margin: 10px 0px ;
}
.about-us .see-our-video {
    cursor: pointer;
    margin: 30px 5px;
     border: 1px solid rgba(128, 128, 128, 0.123);
     background-color: white;
}
.about-us .video-icon:hover{
    transform: scale(1.1);
    transition: all .2s;
} 

.about-us .video-text {
    padding-top: 4%;
    font-size: 14px;
    color: var(--main-color);
}
.about-us .video-icon {
    padding: 10px 0px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid var(--secondary-color)
}   

.about-us .about-cards {
    margin-top: 20px;
    margin-right: 2rem;


}
.about-us .about-cards .each-card {
    margin: 10px 5px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.about-us .about-cards .each-card:hover{
    transform: scale(1.1);
    transition: all .2s;
}
.about-us  .each-card p {
     line-height: 1px;
     font-size: 10px;
     color: var(--main-color);
 }
 .about-us  .each-card  h2 {

    color: var(--secondary-color);
    margin-top: 1rem;
    font-weight: 600;

 }

/* Services slider css starts */
.services{
    background-color: var(--main-color);
    padding: 4rem 0px;
}
.services h2{
    color: white;
    font-weight: 600;
    text-align: center;
}
.services .each-slide{
    background-color: white;
    margin: 4rem 40px;
    border-radius: 3px;
    padding: 1rem 0px;
}
.services .each-slide img {
    margin-left: -12%;
    border-radius: 3px;
    margin-top: 5px;
}
.services .each-slide .service-slider-text  {
  padding-top: 3rem ;
}
.services .each-slide .service-slider-text h5 {
    color: var(--main-color);
    font-weight: 600;
}
.services .each-slide .service-slider-text p{
    font-size: 15px;
    padding-top: 10px ;
    padding-right: 20px;
}
.services .each-slide .service-slider-text button{
    background-color: white;
    border: 1px var(--secondary-color) solid;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 600;
}
.services .each-slide .service-slider-text button:focus{
    outline: none !important;
    box-shadow: none;
}
.services .each-slide .service-slider-text button:hover{
    background-color: var(--secondary-color);
}
.carousel-indicators .active {
    opacity: 1 !important;
    background-color: var(--secondary-color) !important;
}

/* How it works css starts */
.how-it-works {
    /* background-image: url('../assets/how-it-works-bg.webp'); */
    background-color: black;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-size: cover; 
    padding: 5rem 0px;
}
.how-it-works h1{
    color: white;
    text-align: center;
    font-weight: 900;
}
.how-it-works .each-step img{
    background-color: white;
    border-radius: 50%;
    padding: 10px 10px;
    margin-bottom: 40px;

}
.how-it-works .each-step {
    margin: 5rem 0px;
    position: relative;
    z-index: 2;
}
.how-it-works .each-step h5{
    color: white;
    font-weight: 600;
    margin-top: 10px;

}
.how-it-works .each-step p{
    font-size: 14px;
    margin-top: 20px;
    color: white;
}

.badge {
    position: absolute;
    top: 39%;
    left: 43%;
    padding: 15px 16px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: white;
    font-size: 13px;
    font-weight: 600;
}
  .step1{
    width: 59%;
    left: 20%;

    position: absolute;
    bottom: 56%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
    display: block;
    border-style: dashed;
    color: transparent;
    z-index: 1;
  }

/* customer and employee tabs css */

.mob-app .nav-tabs {
    justify-content: center;
    border:none;
    background-color: var(--secondary-color);
}
.mob-app .nav-tabs .nav-link {
    border-radius: 5px !important;
    color: var(--main-color);
    font-weight: 600;
    padding: 15px 20px !important; 
}

.mob-app .nav-tabs .nav-link.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
    font-weight: 600;
}
/* Tab text section */
.mob-app .tab-text{
    margin-top: 3rem;
    margin-bottom: 3rem;

    padding-right: 40px;

}
.mob-app .tab-text .meet{
    color: var(--main-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 15px 3px 4px 5px;
    text-transform: uppercase;
    margin: 20px 0px !important;
    font-weight: 600;

}
.mob-app .tab-text h1{
    color: var(--main-color);
    font-weight: 900;
    margin: 30px 0px;
    padding-right: 60px;
}
.mob-app .tab-text h6{
    color: var(--main-color);
    font-weight: bolder;
    margin: 20px 0px;
}
.mob-app .tab-text p{
    font-size: 13px;

}
.mob-app img{
    width: 100%;
    height: 660px;
}
.mob-app .tab-text button{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.mob-app .tab-text button span{
    font-size: 12px;
}
.mob-app .tab-text button h5{
  font-weight: 600;
}
.mob-app .tab-text button .icon-button{
    text-align: end;
}
.list-bar {
    position: relative;
    padding-left: 15%;
}
.node {
    margin: 9px;
    padding: 8px 10px;
    border-radius: 50%;
    display: inline-block;
    transition: all 1000ms ease;
    position: absolute;
    left: 1px;
    background-color: var(--secondary-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--main-color);
 }

 .divider {
    height: 52px;
    width: 2px;
    position: absolute;
    left: 5%;
    /* transition: all 800ms ease; */
    top: 68%;
    border-style: dashed;

    color: rgba(204, 201, 201, 0.459);
 }


 /* FAQ css starts  */
 .faq{

    margin: 4rem 0px;
 }
 .faq .Qsection{
    margin-top: 2rem;

 }
 .faq .heading{
    margin-top:33px;

 }
 .faq .heading strong {
     font-weight: 600;
     border-bottom: 5px solid var(--main-color);
     border-bottom-left-radius: 7px;
     font-size: 40px;

 }
.faq .heading .eachQ{
    border-bottom: 1px solid rgba(107, 106, 106, 0.322);
}
.faq .heading .eachQ h6{
    font-weight: 500;
    color: black;
    padding:16px 3px;

}
.faq .heading .eachQ p{
    font-size: 13px;
}
.faq .heading .eachQ svg{
    color: var(--main-color);
}

/* contact from css here */
.contact-us .map{
    position: relative;
    height: 640px;

}
.contact-us .contact-form{
    position: absolute;
    padding: 3rem 0px;
    z-index: 4;
    right: 5%;
    margin-left: 30px ;

}
.contact-us .contact-form .contact-details{
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 30px;
    color: white;

}
.contact-us .contact-form .contact-details h4{
   font-weight: 600;
}
.contact-us .contact-form .contact-details p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.712);
}
.contact-us .contact-form .contact-details b{
    margin-top: 30px;
    font-weight: normal;
}
.contact-us .contact-form .contact-details span {
    margin-right: 7px;
    color: var(--secondary-color);
}
.contact-us .contact-form .contact-details .contact-footer-icon{
    margin-top: 10rem !important;
}
.contact-us .contact-form .contact-details .contact-footer-icon span {
    padding-right: 15px;
}

.contact-us .contact-form .contact-details .contact-footer-icon span svg:hover{
    color: white;
}
.contact-us .contact-form .contact-inputs{
    color: black;
    background-color: white;
    padding: 30px;
    border: 1px solid rgba(190, 186, 186, 0.199);

}
.contact-us .contact-form .contact-inputs button{
    background-color: var(--main-color);
    border-color: var(--main-color);
    font-size: 13px;
    padding: 10px 20px;
}
.contact-us .contact-form .contact-inputs label{
    font-size: 13px;
    color: black;
}
.contact-us .contact-form .contact-inputs .custom-input {
    border: none ;
    border-bottom: 1px solid var(--main-color);
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    padding: 10px 0px;
    outline: none !important;
    box-shadow: none !important;
}
.contact-us .contact-form .contact-inputs .check-custom input{
    outline: none !important;
    box-shadow: none !important;
}
.contact-us .contact-form .contact-inputs .check-custom input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.contact-us .contact-form .contact-inputs h6{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* footer css */
footer{
    background-color: black;
    color: white;
    padding: 50px 0px;
}
footer p {
    font-size: 13px;
   
}
footer .each-row-f h6 {
   font-size: 20px;
   font-weight: 400;
   margin-top: 10px;
   margin-bottom: 30px;
   color: var(--secondary-color);
   font-weight: 600;
}
footer .each-row-f li{
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin-top: 10px;
}
footer .each-row-f a{
    text-decoration: none;
    color: white;
}
footer .each-row-f a:hover{
    text-decoration: none;
    color: var(--secondary-color);
}
footer .each-row-f ul{
    padding: 0;
}
footer .each-row-f .custom-input {
    border: none ;
    border-bottom: 1px solid var(--secondary-color);
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    padding: 10px 0px;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
    margin: 20px 0px;
    color: white;
}
footer .each-row-f button{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-size: 13px;
    color: var(--main-color);
}
footer .each-row-f button:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--main-color) ;

}
footer .each-row-f .footer-icons {
    text-align: center;
}
footer .each-row-f .footer-icons span{
    margin: 40px 8px;
    color: var(--secondary-color);
}
footer  .footer-widget{
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.185);
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.692);
    font-weight: 100;
}
footer .footer-button button {
    padding: 5px 3px;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
}
footer .footer-button button svg{
    padding-right: 5px;
}
/* fancy border css */
.custom-shape-divider-top-1635422766 {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: white;

} 
.shop {
    background-color: var(--secondary-color);
}
.shop:hover {
    color: var(--main-color);
}
.product-cards {
    padding: 20px 0px;
}
.product-cards .each-product:hover {
    transform: scale(1.1);
    transition: all .2s;
}
.product-cards .card {
    border: none;
}
.product-cards .card .card-title  {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
}

.categories {
    padding: 5rem 0px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
.categories .each-img {
   
    position: relative;
}
.categories .each-img  h4{
    font-weight: 600;
}
.categories .each-img p{
    font-size: 15px;
}
.categories  .img-text{
    position: absolute;  
    top: 6%;
    left: 10%;
    right: 10%;
    z-index: 5;
}
.categories .each-img{
    overflow: hidden;
}
.categories img{
    transition: transform .5s ease;

}
.categories img:hover{
    transform: scale(1.2);
}
.categories .each-img .img-text-smol{
    position: absolute;
    left: 9%;
    top: 14%;
    right: 30%;
    z-index: 5;
}
.categories h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

.categories  .carousel-item{
    margin: 50px 0px;
}