
@media screen and (min-width: 990px){
    .slick-next {
        right: 1% !important ;
       z-index: 200;
    
      }
}
/* @media only screen and (min-width: 1100px) and (max-width: 1400px) {

} */
@media only screen and (min-width: 990px) and (max-width: 1400px) {
    .scrollspy .nav-item {
        padding-right: 0px !important;
    }
    .cart {
        margin-right: 0px !important;
    }
    .services .each-slide img {
      width: 200px !important;
      height: 200px !important;
    }
    .services .each-slide{
        margin: 4rem 40px !important;
    }

}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .certified-job {
        margin-top: 13rem !important;
    }

    .header-top p {
        font-size: 14px;
    }

.language {
    position: relative !important;
    right: auto!important;
    top: 0 !important;
    text-align: center !important;
    margin: 6px 0px;
}
.language select{
    margin: auto !important;
}
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
    .navbar-nav .nav-link{
        font-size: 10px !important;
    }
    .header-top p {
        font-size: 12px;
    }

    .node {
        left: -5px !important;
    }
    .certified-job {
        margin-top: 11rem !important;
    }

    .language {
        position: relative !important;
        right: auto!important;
        top: 0 !important;
        text-align: center !important;
        margin: 6px 0px;
      }
      .language select{
          margin: auto !important;
      }
 }
@media only screen and (min-width: 766px) and (max-width: 990px) {
    .scrollspy {
    
        display: block !important;
    
    
    }
    .header-top p {
        font-size: 12px;
    }
    .header-top{
        position: relative !important;
    }
    .top-f-nav {
        top: 0 !important;
    }
    .scrollspy button{
        margin-top: 10px !important;
    }
    .number{
     margin-top: 5px;
    }
    .certified-job {
        margin-top: 12rem !important;
    }
    .certified-job img {
       height: 150px !important;
       width: 150px !important;
    }
    .certified-job p{
        font-size: 14px;
    }
    .slider-banner .carousel-inner  {
        height: 600px;
        position: relative;
    }
    .services .each-slide img{
        margin-top: 10px !important;
    }
    .services .each-slide{
        margin: 2rem 20px !important;
        padding: 20px  !important;
        height: 25rem!important;
    }
    .services .each-slide .service-slider-text p{
        --max-lines: 2 !important;
        --lh: 3rem;
    }
    .mob-app .tab-text{
        padding-left: 30px;
    }
    .mob-app .tab-text button .icon-button{
       padding-top: 15px !important;
    }
    .node {
        left: -5px !important;
    }
    .contact-us .contact-form{
        position: relative  !important ;
    }
  
    .indiv-showcase .slick-dots img {
        height: 30px !important;
        width: 30px !important;
    }
    .indiv-showcase .slick-dots li {
    width: 30px !important;
    height: 30px !important;
    }
    .order-now .forms  {
        width: 65% !important;
    }
    .language {
        position: relative !important;
        right: auto!important;
        top: 0 !important;
        text-align: center !important;
        margin: 6px 0px;
      }
      .language select{
          margin: auto !important;
      }
}
@media only screen and (min-width: 575px) and (max-width: 765px){
    .navbar-light .navbar-brand {
        width: 130px !important;
    }
    .header-top{
        position: relative !important;
    }
    .header-top p {
        font-size: 12px;
    }
    .header-top button{
        font-size: 10px !important;
    }
    .top-f-nav {
        top: 0 !important;
    }
    .scrollspy {
        display: block !important;
    
   }
   .slick-next {
    right: 2% !important;

  }
    .scrollspy button{
        margin-top: 10px !important;
    }
    .certified-job {
        display: none !important;
    }
    .slider-banner .carousel-inner  {
        height: 460px !important;
    }
    .header-top .smol {
        text-align: center !important;
    }
    .navbar-nav button{
        margin-top: 10px !important;
    }
    .number{
        margin-top: 5px;
    }
    .about-us {
        background-image:none !important;
    }
    .how-it-works .each-step{
        margin: 1rem 0px !important;
    }
    .services .each-slide img{
        margin-top: 10px !important;
    }
    .services .each-slide{
        margin: 3rem 20px !important;
        padding: 20px  !important;
        height: 25rem!important;
    }
    .services .each-slide .service-slider-text p{
        --max-lines: 2 !important;
        --lh: 3rem;
    }
    .mob-app .tab-text{
        margin-left: 10px;
        margin-right: 40px !important;
    }
    .mob-app .tab-text .list-bar{
        padding-left: 15% !important;
    }
    .node {
        left: 7px !important;
    }
    .mob-app .tab-text button .icon-button{
        padding-top: 6px !important;
     }
     .modal .modal-services{
         width: 98% !important;
     }
     .modal .modal-video{
        width: 98% !important;
    }
    .modal .modal-popup{
        width: 98% !important;
    }
    h5{
        font-size: 15px !important;
    }
    .contact-us .contact-form{
        position: relative  !important ;
    }

    .order-now .forms  {
        width: 75% !important;
    }
    .language {
        position: relative !important;
        right: auto!important;
        top: 0 !important;
        text-align: center !important;
        margin: 6px 0px;
    }
    .language select{
        margin: auto !important;
    }
    .how-it-works  .badge{
        left: 46% !important;
    }
}   
@media only screen and (min-width: 360px) and (max-width: 576px){
    .navbar-light .navbar-brand {
        width: 120px !important;
    } 
    footer img {
        width: 130px !important;

    }
    .slick-next {
        right: 5% !important;
    
      }
    .header-top{
        position: relative !important;
    }
    .header-top p {
        font-size: 12px;
    }
    .header-top button{
        font-size: 10px !important;
        margin: 0 !important;
    }
    .top-f-nav {
        top: 0 !important;
    }
    .header-top .smol {
        text-align: center !important;
    }
    .scrollspy {
        display: block !important;
    
   }
    .scrollspy button{
        margin-top: 10px !important;
    }
    .number{
        margin-top: 5px;
    }
    .services .each-slide img{
        margin-top: 10px !important;
    }
    .services .each-slide{
        margin: 3rem 20px !important;
        padding: 20px  !important;
        height: 25rem!important;
    }
    .services .each-slide .service-slider-text p{
        --max-lines: 2 !important;
        --lh: 3rem;
    }
    .slider-banner .carousel-inner  {
        height: 440px !important;
    }
    .about-us {
        background-image:none !important;
    }
    .how-it-works .each-step{
        margin: 1rem 0px !important;
    }
    .mob-app .tab-text{
        margin-left: 10px;
        margin-right: 40px !important;
    }
    .mob-app .tab-text .list-bar{
        padding-left: 15% !important;
    }
    .mob-app .tab-text button .icon-button{
       padding-top: 15px !important;
    }
    .node {
        left: -8px !important;
        font-size: 13px !important;
    }
    h5{
        font-size: 15px !important;
    }
    .contact-us .contact-form {
        margin: 0 !important;
    }
    .contact-us .contact-form .contact-details{
        margin-left: 6px;
        margin-bottom: 20px;
    }
    .contact-us .contact-form{
        position: relative  !important ;
    }
    .modal .modal-services{
        width: 98% !important;
       height: 400px !important;
       margin: 20px;

    }
    .modal .modal-video{
       width: 98% !important;
       height: 400px !important;
   }
   .modal .modal-popup{
       width: 98% !important;
       height: 470px !important;

   }
   .modal .modal-video .video {
    padding: 10px 20px !important;
   } 
   .prod-tabs .nav-tabs .nav-item{
    margin-right: 0px !important;
} 

.new-arrivals h3 {
    margin-bottom: 3rem !important;
}
.shopping-cart .each-item p{
    margin-top: 10px !important;
}
.order-now .forms  {
    width: 95% !important;
}
.mob-app .tab-text button .icon-button {
    text-align: center !important;
}
.language {
    position: relative !important;
    right: auto!important;
    top: 0 !important;
    text-align: center !important;
    margin: 6px 0px;
  }
  .language select{
      margin: auto !important;
  }
  .how-it-works  .badge{
    left: 46% !important;
}
}
@media screen and (max-width: 359px){
   .navbar-light .navbar-brand {
        width: 120px !important;
    } 
    .slick-next {
        right: 6% !important;
    
      }
    .header-top p {
        font-size: 12px;
    }
    .header-top button{
        font-size: 10px !important;
        margin: 0 !important;
    }
    footer img {
        width: 130px !important;

    }
    .header-top{
        position: relative !important;
    }
    .top-f-nav {
        top: 0 !important;
    }
    .header-top .smol {
        text-align: center !important;
    }
    .scrollspy {
        display: block !important;
    
   }
    .scrollspy button{
        margin-top: 10px !important;
    }
    .number{
        margin-top: 5px;
    }
    .certified-job {
        display: none !important;
    }
    .slider-banner .carousel-inner  {
        height: 410px !important;
    }
    .about-us {
        background-image:none !important;
    }
    h1{
        font-size: 25px !important;
    }
    h2{
        font-size: 20px !important;
    }
    h5{
        font-size: 15px !important;
    }
    p{
        font-size: 14px;
    }
    .how-it-works .each-step{
        margin: 1rem 0px !important;
    }
    .services .each-slide img {
        margin-left: 0 !important;
    }
    .services .each-slide img{
        margin-top: 10px !important;
    }
    .services .each-slide{
        margin: 3rem 20px !important;
        padding: 20px  !important;
        height: 25rem!important;
    }
    .services .each-slide .service-slider-text p{
        --max-lines: 2 !important;
        --lh: 3rem;
    }
    .about-us .about-cards {
        margin-right: 0 !important;
    }
    .mob-app .tab-text{
        margin-left: 10px;
        margin-right: 40px !important;
    }
    .mob-app .tab-text .list-bar{
        padding-left: 15% !important;
    }
    .mob-app .tab-text button .icon-button{
       padding-top: 15px !important;
    }
    .node {
        left: -8px !important;
        font-size: 13px !important;
    }
   .tab-img {
       display: none !important;
   }
   .faq .heading .eachQ p{
    font-size: 10px;
    }
    .faq  .eachQ h6{
        font-size: 14px;
    }
    .contact-us .contact-form {
        margin: 0 !important;
    }
    .contact-us .contact-form .contact-details{
        margin-left: 6px;
        margin-bottom: 20px;
    }
    .contact-us .contact-form{
        position: relative  !important ;
    }
    .modal .modal-services{
        width: 98% !important;
       height: 400px !important;
       margin: 20px;

    }
    .modal .modal-video{
       width: 98% !important;
       height: 400px !important;
   }
   .modal .modal-popup{
       width: 98% !important;
       height: 470px !important;

   }
   .prod-tabs .nav-tabs .nav-item{
    margin-right: -10px !important;
}

.new-arrivals h3 {
    margin-bottom: 3rem !important;
}
.shopping-cart .each-item p{
    margin-top: 0 !important;
}
.order-now .forms  {
    width: 95% !important;
}
.mob-app .tab-text button .icon-button {
    text-align: center !important;
}
.language {
    position: relative !important;
    right: auto!important;
    top: 0 !important;
    text-align: center !important;
    margin: 6px 0px;
  }
  .language select{
      margin: auto !important;
  }
  .how-it-works  .badge{
    left: 43% !important;
}
.m-margin{
    margin-left:10px;
}
} 