
.products{
    margin: 3rem 20px;
}
.products .sort {
   width: 170px;
   text-align: center;
   margin-left: auto;
   background-color: rgba(168, 161, 161, 0.301);
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 5px;
}
.products .each-card{
    margin-bottom: 20px;
}
.products .each-card:hover {
    transform: scale(1.1);
    transition: all .2s;
}
.products .shop-cards a{
    text-decoration: none !important;
}

.products .shop-cards .card .card-title span {
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
}

.products .shop-cards .card .card-title p {
    font-size: 17px;
    margin-top: 10px;
    color: black;
} 
.products .filter-by{
    border: 1px solid rgba(85, 74, 74, 0.568);
    padding-bottom: 20px ;
    
    background-color: rgba(168, 161, 161, 0.301);
}

.products .filter-by h6{
    border: 1px solid rgba(0, 0, 0, 0.486);
    padding: 10px 10px;
}
.products .filter-by a {
    text-decoration: none;
} 
.products .filter-by a::hover {
    font-weight: 600;
}
.products .filter-by p::before{
    content: ">>";
    padding: 0;
    margin-top: 10px;
    font-weight: 600;
}
.products .filter-by p{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0 ;
    color: var(--main-color);
    padding-left: 20px;

}
.new-arrivals {
    margin: 3rem 2rem;
}
.new-arrivals h3 {
    text-align: center;
    text-transform: uppercase;
}
.new-arrivals .slick-prev:before{
    color: white !important;
    content: 'Prev';
    background-color:var(--main-color);
    padding: 5px 10px;
    

}
.new-arrivals .slick-next:before{
    color: white !important;
    content: 'Next';
    background-color:var(--main-color);
    padding: 5px 10px;

}
.new-arrivals .slick-prev {
    left: 89%;
    top: -4%;
}
.new-arrivals .slick-next {
    right: 5%;
    top: -4%
}
.new-arrivals .each-slid{

    padding: 20px;
    text-align: center;

}
.new-arrivals .each-slid p {
    margin-top: 10px;
}
.new-arrivals .each-slid span {
    color: var(--main-color);
    font-weight: 600;
}
.indiv-product{
    margin: 3rem 0px;
    padding-top: 3rem;
}
.indiv-showcase {
    margin-bottom: 4rem;
}
.indiv-showcase .slick-prev:before{
    color: var(--main-color) !important;

}
.indiv-showcase .slick-next:before{
    color: var(--main-color) !important;
  
}
.indiv-showcase .slick-prev {
    width: 50px;
    top: 106%;
}
.indiv-showcase .slick-next {
    top: 106%;
    width: 50px;
}
.indiv-showcase .slick-dots img {
    height: 50px !important;
    width: 50px;
}
.indiv-showcase .slick-dots li {
    position: relative;
    display: inline-block;
     width: 50px; 
     height: 50px;
}
.indiv-showcase .slick-dots {
    bottom: -11%;
}
.indiv-product .product-about .product-name {
    font-weight: 600;
}
.indiv-product .product-about .instock {
    margin-top: 5px;
    padding-right: 10px;
    font-weight: 600;
    color: green;
    margin-bottom: 1px !important;
}

.indiv-product .product-about .ratings svg {
    padding: 1px;
    color: gold;
   
}
.indiv-product .product-about .price b {
    font-size: 18px;
    color: var(--main-color);
}
.indiv-product .product-about .color span{
    padding: 7px 13px;
    margin-right: 5px !important;
}

.indiv-product .product-about .quantity {
    margin-top: 20px;
}
.indiv-product .product-about .quantity p{
    margin: 0px 20px;
    padding: 0;
    font-size: 18px;
}
.indiv-product .product-about .quantity span{
    color: var(--main-color);
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.562);
}
.indiv-product .product-about button{
    background-color: var(--main-color);
}
.indiv-product .product-about button:hover{
    transform: scale(1.1);
    transition: all .2s;
}
.indiv-product .product-about .quantity span:hover{
    background-color: var(--secondary-color);
}
.indiv-product .product-about .social-icons svg {
    cursor: pointer;
}
.indiv-product .product-about .social-icons svg:hover{
    transform: scale(1.1);
    transition: all .2s;
}
.product-details {
    margin-bottom: 4rem;
    padding: 30px;
}

.product-details .nav-tabs {
    justify-content: center;
    border: none;
}
.product-details .tab-content {
    margin: 20px 40px;
}
.product-details .nav-tabs .nav-link.active {
   border-bottom: 3px solid var(--secondary-color);
   background-color: white;
}
.product-details .nav-tabs .nav-link {
    border-radius: 0;
    color: var(--main-color);
  
}
.order-now{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 20px 0px !important;
}
.order-now .forms {
    width: 40%;
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 5PX;
}
.stepper-wrapper {
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    right: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
    
  .stepper-item.completed .step-counter {
    background-color: var(--main-color);
    font-weight: bold;
    color: white;

  }
  .stepper-item.completed::before{
    position: absolute;
    content: "";
    border-bottom: 2px solid transparent;
    width: 100%;
    top: 20px;
    right: 50%;
    left: 50%;
    z-index: 3;
  }
  
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }
  .order-now button{
      background-color: var(--main-color);
      color: white;
  }
 .policy {
     margin: 5rem 0px;
 }
 .policy h1 {
     text-align: center;
     font-weight: 600;
     color: var(--main-color);
 }
 .policy h5{
     font-weight: 600;
     margin: 3rem 0px;
     color: var(--main-color);
 }
 .policy p{
    color: rgba(0, 0, 0, 0.74);
    font-weight: 500;
    line-height: 2.7;
 }

.shopping-cart {
    margin: 2rem 0px;
}
.shopping-cart h1{
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 2rem;
}
.shopping-cart .items-heading p{
   margin: 0;
   padding: 0;
   font-weight: 300;
   font-size: 14px;
}
.shopping-cart .each-item{
    margin: 10px 0px;
    padding: 0;
}
.shopping-cart .each-item span{
    font-size: 25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.575);
    cursor: pointer;
    margin-top: 30px;

}
.shopping-cart .each-item span:hover{
    color: black;
}
.shopping-cart .each-item img {
    height: 100px;
    width: 100px;
}
.shopping-cart .each-item p{
    font-size: 14px;
    margin-top: 30px;
}
.shopping-cart .subtotal {
    margin: 3rem 0px;
}
.shopping-cart .subtotal h4{
    font-weight: 600;
}
.shopping-cart .subtotal button{
    background-color: var(--main-color);
    margin-top: 10px;
}
.cart{
    margin-right: 10px;
}
.cart .cart-dropdown {
    position: absolute;
    right: 80px;
    top: 90%;
    width: 300px;
    border: none;
    animation-delay: -300ms !important;
}
.cart .cart-dropdown button {
    width: 100%;
}
.cart .cart-dropdown .each-item{
    margin-top: 10px;
}
.cart .items {
    position: absolute;
    top: 30px;
    right: 18%;
    padding: 2px 6px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.cart .card-header span {
    font-size: 15px;
    float: right;
    margin-top: 5px;
}
